<section class="about py-5">
  <div class="container">
    <div class="row align-items-center">
      <!-- Image Column -->
      <div class="col-md-4 mb-4 mb-md-0 animate-pop-in">
        <img src="../../assets/me.png" height="370px" class="w-100 rounded-circle shadow-lg" alt="Profile Image">
      </div>

      <!-- Content Column -->
      <div class="col-md-8 animate-pop-in delay-1">
        <h2 class="mb-4">About Me</h2>  
        <p class="lead mb-4">{{ bio }}</p>  
        
        <h3 class="mt-4">Education</h3>  
        <p>{{ education }}</p>  
        
        <h3 class="mt-4">Experience</h3>  
        <p>{{ experience }}</p>  

        
      </div>
    </div>
  </div>
</section>